<manifest xmlns:android="http://schemas.android.com/apk/res/android" package="com.getirkit.irkit">
    <uses-permission android:name="android.permission.INTERNET" />
    <uses-permission android:name="android.permission.ACCESS_WIFI_STATE" />
    <uses-permission android:name="android.permission.CHANGE_WIFI_STATE" />
    <uses-permission android:name="android.permission.ACCESS_NETWORK_STATE" />
    <!-- JmDNS -->
    <uses-permission android:name="android.permission.CHANGE_WIFI_MULTICAST_STATE" />
    <!-- Pick image from Gallery -->
    <uses-permission android:name="android.permission.READ_EXTERNAL_STORAGE" />

    <application android:allowBackup="true" android:label="@string/app_name">

        <!-- Setup activity -->
        <activity
            android:name=".activity.IRKitSetupActivity"
            android:label="@string/title_activity_irkitsetup" />

        <!-- Signal detail activity -->
        <activity
            android:name=".activity.SignalActivity"
            android:label="@string/title_activity_signal" />

        <!-- Wait for signal activity -->
        <activity
            android:name=".activity.WaitSignalActivity"
            android:label="@string/title_activity_wait_signal" />

        <!-- Device activity -->
        <activity
            android:name=".activity.DeviceActivity"
            android:label="@string/title_activity_device" />

    </application>
</manifest>
